<app-dashboard-wrapper></app-dashboard-wrapper>

<!-- <div class="">
    <div class="topleft">
   
    </div>
    <div class="middle">
      <h1>COMING SOON</h1>
      
    </div>
    <div class="bottomleft">
     
    </div>
  </div> -->
<div style="display: none;" class="hide" #myDiv id="tutor-price" (click)="manualClick()"><span id="month">월 8회</span>
  <span id="price"> 33
  </span></div>
<div class="container">
  <!--begin::Dashboard-->
  <!--begin::Row-->
  <div class="row">
    <div class="col-lg-12 col-xxl-12">
      <!--begin::Mixed Widget 1-->
      <div class="card card-custom bg-gray-100 card-stretch gutter-b">
        <!--begin::Header-->
        <div class="card-header border-0 bg-danger py-5">
          <h3 class="card-title font-weight-bolder text-white">SwiftPark</h3>

        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body p-0 position-relative overflow-hidden">
          <!--begin::Chart-->
          <div id="kt_mixed_widget_1_chart" class="card-rounded-bottom bg-danger"
            style="height: 200px; min-height: 200px;">
            <div id="apexchartsphz58s58" class="apexcharts-canvas apexchartsphz58s58 apexcharts-theme-light"
              style="width: 1034px; height: 200px;"><svg id="SvgjsSvg2398" width="1034" height="200"
                xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS"
                transform="translate(0, 0)" style="background: transparent;">
                <g id="SvgjsG2400" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)">
                  <defs id="SvgjsDefs2399">
                    <clipPath id="gridRectMaskphz58s58">
                      <rect id="SvgjsRect2403" width="1041" height="203" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1"
                        stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                    </clipPath>
                    <clipPath id="gridRectMarkerMaskphz58s58">
                      <rect id="SvgjsRect2404" width="1038" height="204" x="-2" y="-2" rx="0" ry="0" opacity="1"
                        stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                    </clipPath>
                    <filter id="SvgjsFilter2410" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%"
                      y="-50%">
                      <feFlood id="SvgjsFeFlood2411" flood-color="#d13647" flood-opacity="0.5"
                        result="SvgjsFeFlood2411Out" in="SourceGraphic"></feFlood>
                      <feComposite id="SvgjsFeComposite2412" in="SvgjsFeFlood2411Out" in2="SourceAlpha" operator="in"
                        result="SvgjsFeComposite2412Out"></feComposite>
                      <feOffset id="SvgjsFeOffset2413" dx="0" dy="5" result="SvgjsFeOffset2413Out"
                        in="SvgjsFeComposite2412Out"></feOffset>
                      <feGaussianBlur id="SvgjsFeGaussianBlur2414" stdDeviation="3 " result="SvgjsFeGaussianBlur2414Out"
                        in="SvgjsFeOffset2413Out"></feGaussianBlur>
                      <feMerge id="SvgjsFeMerge2415" result="SvgjsFeMerge2415Out" in="SourceGraphic">
                        <feMergeNode id="SvgjsFeMergeNode2416" in="SvgjsFeGaussianBlur2414Out"></feMergeNode>
                        <feMergeNode id="SvgjsFeMergeNode2417" in="[object Arguments]"></feMergeNode>
                      </feMerge>
                      <feBlend id="SvgjsFeBlend2418" in="SourceGraphic" in2="SvgjsFeMerge2415Out" mode="normal"
                        result="SvgjsFeBlend2418Out"></feBlend>
                    </filter>
                    <filter id="SvgjsFilter2420" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%"
                      y="-50%">
                      <feFlood id="SvgjsFeFlood2421" flood-color="#d13647" flood-opacity="0.5"
                        result="SvgjsFeFlood2421Out" in="SourceGraphic"></feFlood>
                      <feComposite id="SvgjsFeComposite2422" in="SvgjsFeFlood2421Out" in2="SourceAlpha" operator="in"
                        result="SvgjsFeComposite2422Out"></feComposite>
                      <feOffset id="SvgjsFeOffset2423" dx="0" dy="5" result="SvgjsFeOffset2423Out"
                        in="SvgjsFeComposite2422Out"></feOffset>
                      <feGaussianBlur id="SvgjsFeGaussianBlur2424" stdDeviation="3 " result="SvgjsFeGaussianBlur2424Out"
                        in="SvgjsFeOffset2423Out"></feGaussianBlur>
                      <feMerge id="SvgjsFeMerge2425" result="SvgjsFeMerge2425Out" in="SourceGraphic">
                        <feMergeNode id="SvgjsFeMergeNode2426" in="SvgjsFeGaussianBlur2424Out"></feMergeNode>
                        <feMergeNode id="SvgjsFeMergeNode2427" in="[object Arguments]"></feMergeNode>
                      </feMerge>
                      <feBlend id="SvgjsFeBlend2428" in="SourceGraphic" in2="SvgjsFeMerge2425Out" mode="normal"
                        result="SvgjsFeBlend2428Out"></feBlend>
                    </filter>
                  </defs>
                  <g id="SvgjsG2429" class="apexcharts-xaxis" transform="translate(0, 0)">
                    <g id="SvgjsG2430" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g>
                  </g>
                  <g id="SvgjsG2439" class="apexcharts-grid">
                    <g id="SvgjsG2440" class="apexcharts-gridlines-horizontal" style="display: none;">
                      <line id="SvgjsLine2442" x1="0" y1="0" x2="1034" y2="0" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2443" x1="0" y1="20" x2="1034" y2="20" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2444" x1="0" y1="40" x2="1034" y2="40" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2445" x1="0" y1="60" x2="1034" y2="60" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2446" x1="0" y1="80" x2="1034" y2="80" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2447" x1="0" y1="100" x2="1034" y2="100" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2448" x1="0" y1="120" x2="1034" y2="120" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2449" x1="0" y1="140" x2="1034" y2="140" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2450" x1="0" y1="160" x2="1034" y2="160" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2451" x1="0" y1="180" x2="1034" y2="180" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                      <line id="SvgjsLine2452" x1="0" y1="200" x2="1034" y2="200" stroke="#e0e0e0" stroke-dasharray="0"
                        class="apexcharts-gridline"></line>
                    </g>
                    <g id="SvgjsG2441" class="apexcharts-gridlines-vertical" style="display: none;"></g>
                    <line id="SvgjsLine2454" x1="0" y1="200" x2="1034" y2="200" stroke="transparent"
                      stroke-dasharray="0"></line>
                    <line id="SvgjsLine2453" x1="0" y1="1" x2="0" y2="200" stroke="transparent" stroke-dasharray="0">
                    </line>
                  </g>
                  <g id="SvgjsG2405" class="apexcharts-area-series apexcharts-plot-series">
                    <g id="SvgjsG2406" class="apexcharts-series" seriesName="NetxProfit" data:longestSeries="true"
                      rel="1" data:realIndex="0">
                      <path id="SvgjsPath2409"
                        d="M 0 200L 0 125C 60.316666666666656 125 112.01666666666665 87.5 172.33333333333331 87.5C 232.64999999999998 87.5 284.34999999999997 120 344.66666666666663 120C 404.9833333333333 120 456.68333333333334 25 517 25C 577.3166666666666 25 629.0166666666667 100 689.3333333333333 100C 749.65 100 801.3499999999999 100 861.6666666666666 100C 921.9833333333333 100 973.6833333333333 100 1034 100C 1034 100 1034 100 1034 200M 1034 100z"
                        fill="transparent" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                        stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskphz58s58)"
                        filter="url(#SvgjsFilter2410)"
                        pathTo="M 0 200L 0 125C 60.316666666666656 125 112.01666666666665 87.5 172.33333333333331 87.5C 232.64999999999998 87.5 284.34999999999997 120 344.66666666666663 120C 404.9833333333333 120 456.68333333333334 25 517 25C 577.3166666666666 25 629.0166666666667 100 689.3333333333333 100C 749.65 100 801.3499999999999 100 861.6666666666666 100C 921.9833333333333 100 973.6833333333333 100 1034 100C 1034 100 1034 100 1034 200M 1034 100z"
                        pathFrom="M -1 200L -1 200L 172.33333333333331 200L 344.66666666666663 200L 517 200L 689.3333333333333 200L 861.6666666666666 200L 1034 200">
                      </path>
                      <path id="SvgjsPath2419"
                        d="M 0 125C 60.316666666666656 125 112.01666666666665 87.5 172.33333333333331 87.5C 232.64999999999998 87.5 284.34999999999997 120 344.66666666666663 120C 404.9833333333333 120 456.68333333333334 25 517 25C 577.3166666666666 25 629.0166666666667 100 689.3333333333333 100C 749.65 100 801.3499999999999 100 861.6666666666666 100C 921.9833333333333 100 973.6833333333333 100 1034 100"
                        fill="none" fill-opacity="1" stroke="#d13647" stroke-opacity="1" stroke-linecap="butt"
                        stroke-width="3" stroke-dasharray="0" class="apexcharts-area" index="0"
                        clip-path="url(#gridRectMaskphz58s58)" filter="url(#SvgjsFilter2420)"
                        pathTo="M 0 125C 60.316666666666656 125 112.01666666666665 87.5 172.33333333333331 87.5C 232.64999999999998 87.5 284.34999999999997 120 344.66666666666663 120C 404.9833333333333 120 456.68333333333334 25 517 25C 577.3166666666666 25 629.0166666666667 100 689.3333333333333 100C 749.65 100 801.3499999999999 100 861.6666666666666 100C 921.9833333333333 100 973.6833333333333 100 1034 100"
                        pathFrom="M -1 200L -1 200L 172.33333333333331 200L 344.66666666666663 200L 517 200L 689.3333333333333 200L 861.6666666666666 200L 1034 200">
                      </path>
                      <g id="SvgjsG2407" class="apexcharts-series-markers-wrap" data:realIndex="0">
                        <g class="apexcharts-series-markers">
                          <circle id="SvgjsCircle2460" r="0" cx="0" cy="0"
                            class="apexcharts-marker wjdf1v9xo no-pointer-events" stroke="#d13647" fill="#ffe2e5"
                            fill-opacity="1" stroke-width="3" stroke-opacity="0.9" default-marker-size="0"></circle>
                        </g>
                      </g>
                    </g>
                    <g id="SvgjsG2408" class="apexcharts-datalabels" data:realIndex="0"></g>
                  </g>
                  <line id="SvgjsLine2455" x1="0" y1="0" x2="1034" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                    stroke-width="1" class="apexcharts-ycrosshairs"></line>
                  <line id="SvgjsLine2456" x1="0" y1="0" x2="1034" y2="0" stroke-dasharray="0" stroke-width="0"
                    class="apexcharts-ycrosshairs-hidden"></line>
                  <g id="SvgjsG2457" class="apexcharts-yaxis-annotations"></g>
                  <g id="SvgjsG2458" class="apexcharts-xaxis-annotations"></g>
                  <g id="SvgjsG2459" class="apexcharts-point-annotations"></g>
                </g>
                <g id="SvgjsG2438" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g>
                <g id="SvgjsG2401" class="apexcharts-annotations"></g>
              </svg>
              <div class="apexcharts-legend" style="max-height: 100px;"></div>
              <div class="apexcharts-tooltip apexcharts-theme-light">
                <div class="apexcharts-tooltip-title" style="font-family: Poppins; font-size: 12px;"></div>
                <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker"
                    style="background-color: transparent;"></span>
                  <div class="apexcharts-tooltip-text" style="font-family: Poppins; font-size: 12px;">
                    <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span
                        class="apexcharts-tooltip-text-value"></span></div>
                    <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                        class="apexcharts-tooltip-text-z-value"></span></div>
                  </div>
                </div>
              </div>
              <div
                class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
                <div class="apexcharts-yaxistooltip-text"></div>
              </div>
            </div>
          </div>
          <!--end::Chart-->
          <!--begin::Stats-->
          <div class="card-spacer mt-n25">
            <!--begin::Row-->
            <div class="row m-0">
              <ng-container *ngFor="let test of dashboardData">
                <div [ngClass]="test.card_color" class="col  px-6 py-8 rounded-xl mr-7 mb-7">
                  <div> <i [ngClass]="test.icon" class=" mr-5"></i></div>
                  <div>
                    <span [ngClass]="test.text_color" class=" font-weight-bold font-size-h6">{{test.name}}</span>
                    <span [ngClass]="test.text_color" class=" pull-right font-weight-bold font-size-h6">
                      <b>{{test.total}}</b></span>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <!--end::Stats-->
          <div class="resize-triggers">
            <div class="expand-trigger">
              <div style="width: 1035px; height: 448px;"></div>
            </div>
            <div class="contract-trigger"></div>
          </div>
        </div>
        <!--end::Body-->
      </div>
      <!--end::Mixed Widget 1-->
    </div>

  </div>

</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>